<!-- ==========================
      CONTACT SECTION START
      =========================== -->
<section class="contact section-padding" data-scroll-index='6' id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectioner-header text-center">
          <h3>Let's Get In Touch!</h3>
          <span class="line"></span>
          <p>Contact me if you have a question or want to work together.</p>
        </div>
        <div class="section-content">
          <div class="row">
            <!-- Contact Form -->
            <div class="col-12 col-lg-8 mb-4 mb-lg-0">
              <form id="contact_form" action="">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input type="text" id="your_name" class="form-input w-100" name="full-name" placeholder="Full Name"
                      required>
                    <small id="name_error" class="error"></small>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <input type="email" id="email" class="form-input w-100" name="email" placeholder="Email" required>
                    <small id="email_error" class="error"></small>
                  </div>
                </div>
                <input type="text" id="subject" class="form-input w-100" name="subject" placeholder="Subject">
                <small id="subject_error" class="error"></small>
                <textarea class="form-input w-100" id="message" placeholder="Message" name="message"></textarea>
                <small id="message_error" class="error"></small>
                <button class="btn-grad w-100 text-uppercase" type="submit" name="button">Submit</button>
              </form>
            </div>
            <!-- Contact Info -->
            <div class="col-12 col-lg-4">
              <div class="contact-info">
                <div class="contact-item text-center">
                  <i class="fa fa-map-marker-alt mb-2"></i>
                  <div>
                    <p class="text-uppercase mb-1">Address</p>
                    <p class="text-uppercase">Mansoura, Egypt</p>
                  </div>
                </div>
                <div class="contact-item text-center">
                  <i class="fa fa-phone mb-2"></i>
                  <div>
                    <p class="text-uppercase mb-1">Phone</p>
                    <p class="text-uppercase"><a class="text-dark" href="tel:+201067269124">01067269124</a></p>
                  </div>
                </div>
                <div class="contact-item text-center">
                  <i class="fa fa-envelope mb-2"></i>
                  <div>
                    <p class="text-uppercase mb-1">E-mail</p>
                    <p class="text-uppercase"><a class="text-dark"
                        href="mailto:khloudahmed@gmail.com">khloudahmed&#64;gmail.com</a></p>
                  </div>
                </div>
                <div class="contact-item text-center">
                  <i class="fa fa-clock mb-2"></i>
                  <div>
                    <p class="text-uppercase mb-1">Working Hours</p>
                    <p class="text-uppercase">Sun-Fri 9.00 AM to 5.00PM.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   </section>

<!-- Social Buttons -->
<div class="row">
  <div class="col-md-12">
    <ul class="social-buttons">
      <li><a href="https://www.linkedin.com/" class="social-btn"><i class="fa-brands fa-linkedin fa-beat"></i></a>
      </li>
      <li><a href="https://github.com/" class="social-btn"><i class="fa-brands fa-github fa-beat"></i></a>
      </li>
      <li><a href="https://www.facebook.com" class="social-btn"><i class="fa-brands fa-facebook fa-beat"></i></a></li>
      <li><a href="https://x.com/" class="social-btn"><i class="fa-brands fa-twitter fa-beat"></i></a></li>
    </ul>
  </div>
</div>
