<!-- ==========================
            ABOUT SECTION START
        =========================== -->
        <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                  <h4 class="">Welcome to <span class="mobile-block">My Portfolio Website!</span></h4>
                  <h2 class="animated animated-text">
                    <span class="mr-2">Hi, I'm</span>
                    <div class="animated-info">
                      <span class="animated-item">Khloud Ahmed</span>
                      <span class="animated-item">Web Designer</span>
                      <span class="animated-item">UI Designer</span>
                    </div>
                  </h2>
      
                  <p>I am a Web developer and UX/UI designer based in Egypt. I have many
                    years of experience in buiding websites. I am highly energetic in user experience design, interfaces and
                    web development.</p>
      
                  <div class="custom-btn-group mt-4">
                    <a href="assets/DEPI Final Project.docx" download="Khloud's Resume" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-5 col-md-12 col-12">
                <div class="about-image svg">
                  <img src="/undrawSoftwareEngineer.svg" class="img-fluid" alt="svg image">
                </div>
              </div>
      
            </div>
          </div>
        </section>
        <!-- ==========================
                  ABOUT SECTION END
              =========================== -->

              <!-- ==========================
            SERVICE SECTION START
        =========================== -->
  <section class="text-center section-padding">
    <div class="container">
      <!-- Headline -->
      <div class="row">
        <div class="col-md-12">
          <h1>Things I do for clients</h1>
        </div>
      </div>

      <!-- Service Boxes in a single row -->
      <div class="row services">
        <!-- Service Box 1 -->
        <div class="col-md-4 wp2 item">
          <div class="icon">
            <i class="fa-solid fa-palette"></i><!-- Icon -->
          </div>
          <h2>Design</h2>
          <p>I Build the structure and layout of a website using HTML for content, CSS for styling, and JavaScript for
            interactivity.
            Ensuring a consistent and responsive design that works on multiple devices (mobile, tablet, desktop).</p>
        </div>

        <!-- Service Box 2 -->
        <div class="col-md-4 wp2 item delay-05s">
          <div class="icon">

            <i class="fa-sharp fa-solid fa-code"></i> <!-- Icon -->
          </div>
          <h2>Implement</h2>
          <p>I Translating UI/UX designs and mockups into code that accurately represents the intended look and feel of
            the design.
            and make sure to implement pixel-perfect designs.</p>
        </div>

        <!-- Service Box 3 -->
        <div class="col-md-4 wp2 item delay-1s">
          <div class="icon">
            <i class="fa-solid fa-gear"></i> <!-- Icon -->
          </div>
          <h2>Handle</h2>
          <p>Using JavaScript (or libraries like jQuery, React, or Vue.js) to create interactive elements such as
            sliders, forms, pop-ups, modals, and animations.
            Implementing dynamic content loading and interactive elements.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ==========================
        SERVICE SECTION END
        =========================== -->