<!-- ==========================
        SKILLS SECTION START
        =========================== -->
        <section class="skills-section" id="skills">
          <div class="container">
            <h2 class="section-title">My Skills</h2>
            <p class="text-center">Explore the technologies I use to bring ideas to life.</p>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="skill-card">
                  <div class="skill-icon">
                    <i class="fa-brands fa-html5"></i>
                  </div>
                  <div class="skill-name">HTML</div>
                  <p>Proficient in writing semantic and accessible HTML markup.</p>
      
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="skill-card">
                  <div class="skill-icon">
                    <i class="fa-brands fa-css3-alt"></i>
                  </div>
                  <div class="skill-name">CSS</div>
                  <p>Skilled in creating responsive and visually appealing designs using CSS.</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="skill-card">
                  <div class="skill-icon">
                    <i class="fa-brands fa-js"></i>
                  </div>
                  <div class="skill-name">JavaScript</div>
                  <p>Proficient in modern JavaScript, including ES6+ features and frameworks.</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="skill-card">
                  <div class="skill-icon">
                    <i class="fa-brands fa-react"></i>
                  </div>
                  <div class="skill-name">Git</div>
                  <p>Experienced in using Git for version control and collaborative development.</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="skill-card">
                  <div class="skill-icon">
                    <i class="fa-brands fa-node-js"></i>
                  </div>
                  <div class="skill-name">TypeScript</div>
                  <p>Proficient in using TypeScript to write more robust and maintainable code.</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="skill-card">
                  <div class="skill-icon">
                    <i class="fa-brands fa-python"></i>
                  </div>
                  <div class="skill-name">Bootstrap</div>
                  <p>Experienced in using Bootstrap to create responsive websites </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ==========================
              Skills SECTION START
              =========================== -->
        <!-- ==========================
              Tools SECTION START
              =========================== -->
      
        <section class="text-center section-padding contact-wrap">
          <div class="container">
            <!-- Headline -->
            <h3>Tools I Use</h3>
            <!-- <div class="row contact-details">
              <div class="col-md-4">
                <div class="dark-box box-hover">
                  <h6><span>Languages</span></h6>
                  <p>HTML-CSS-JavaScript-TypeScript</p>
                </div>
              </div> -->
            <div class="row contact-details">
              <div class="col-md-6">
                <div class="dark-box box-hover">
                  <h6><span>Frameworks</span></h6>
                  <p>React-Angular-jQuery-Sass</p>
                </div>
              </div>
      
      
              <div class="col-md-6">
                <div class="dark-box box-hover">
                  <h6><span>Apps</span></h6>
                  <p> Figma, Adobe XD, Sketch, InVision</p>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-12">
                <h4 class="drop">Interested? Contact <a href="#contact" class="nav-link">ME</a></h4>
              </div>
            </div>
          </div>
        </section>
        <!-- ==========================
              Tools SECTION END
              =========================== -->